In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as p
mydtaset={
    "calories":[23,56,20],
"wieght":[23,45,67]
}
myarv=p.DataFrame(mydtaset)
print(myarv)

   calories  wieght
0        23      23
1        56      45
2        20      67

In [7]:
import pandas as pd
mydataset={
    "name":["john","ram","kalu"],
    "age":[23,45,12]
}
myar=pd.DataFrame(mydataset)

x=pd.Series(mydataset)  #columns return 1-d array
# print(mydataset["name"])  # Output: ['john', 'ram', 'kalu']
# print(mydataset["age"])   # Output: [23, 45, 12]
# print(x)
d=myar.loc[2]  #used to return row 
print(d)
myar.to_csv("data.csv")
# print(myar)

name    kalu
age       12
Name: 2, dtype: object

In [ ]:
import pandas as pd
data=[1,3,4,9]
my =pd.Series(data,index=["a",'b','c','d'])
print(my)

a    1
b    3
c    4
d    9
dtype: int64

In [3]:
import pandas as pd
mydata = [1,2,3]
data = pd.Series(mydata,index=["x","y","z"])
print(data)
print(data[1])

x    1
y    2
z    3
dtype: int64
2

In [4]:
mydata ={"day1":23,"day2":26,"day3":30}
data = pd.Series(mydata)
a=mydata["day1"]
print(data)

day1    23
day2    26
day3    30
dtype: int64

In [5]:
df = pd.read_csv("data.csv")
df.head

<bound method NDFrame.head of    Unnamed: 0  name  age
0           0  john   23
1           1   ram   45
2           2  kalu   12>

In [ ]:
mydata={
    "name":["jim","pom","kia"],
    "rollno":[23,56,90]
}
data=pd.DataFrame(mydata)
data.to_csv("data2.csv") #convert to csv file

In [7]:
f=pd.read_csv("data2.csv")
f

   Unnamed: 0 name  rollno
0           0  jim      23
1           1  pom      56
2           2  kia      90

In [8]:
f.head()

   Unnamed: 0 name  rollno
0           0  jim      23
1           1  pom      56
2           2  kia      90

In [11]:
print(pd.options.display.max_rows)

60

In [13]:
import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

   Unnamed: 0  name  age
0           0  john   23
1           1   ram   45
2           2  kalu   12

In [16]:
import pandas as pd

# Sample data
mydata = {
    "name": ["jim", "pom", "shawn"],
    "age": [45, 90, 89]
}

# Create DataFrame
f = pd.DataFrame(mydata)

# Save DataFrame to JSON file
f.to_json("data3.json", orient='records', indent=4)

# Read JSON file into DataFrame
new_df = pd.read_json("data3.json")

# Print the new DataFrame
print(new_df)

    name  age
0    jim   45
1    pom   90
2  shawn   89