In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as p
mydtaset={
    "calories":[23,56,20],
"wieght":[23,45,67]
}
myarv=p.DataFrame(mydtaset)
print(myarv)

   calories  wieght
0        23      23
1        56      45
2        20      67

In [7]:
import pandas as pd
mydataset={
    "name":["john","ram","kalu"],
    "age":[23,45,12]
}
myar=pd.DataFrame(mydataset)

x=pd.Series(mydataset)  #columns return 1-d array
# print(mydataset["name"])  # Output: ['john', 'ram', 'kalu']
# print(mydataset["age"])   # Output: [23, 45, 12]
# print(x)
d=myar.loc[2]  #used to return row 
print(d)
myar.to_csv("data.csv")
# print(myar)

name    kalu
age       12
Name: 2, dtype: object

In [ ]:
import pandas as pd
data=[1,3,4,9]
my =pd.Series(data,index=["a",'b','c','d'])
print(my)

a    1
b    3
c    4
d    9
dtype: int64

In [3]:
import pandas as pd
mydata = [1,2,3]
data = pd.Series(mydata,index=["x","y","z"])
print(data)
print(data[1])

x    1
y    2
z    3
dtype: int64
2

In [4]:
mydata ={"day1":23,"day2":26,"day3":30}
data = pd.Series(mydata)
a=mydata["day1"]
print(data)

day1    23
day2    26
day3    30
dtype: int64

In [5]:
df = pd.read_csv("data.csv")
df.head

<bound method NDFrame.head of    Unnamed: 0  name  age
0           0  john   23
1           1   ram   45
2           2  kalu   12>

In [ ]:
mydata={
    "name":["jim","pom","kia"],
    "rollno":[23,56,90]
}
data=pd.DataFrame(mydata)
data.to_csv("data2.csv") #convert to csv file

In [7]:
f=pd.read_csv("data2.csv")
f

   Unnamed: 0 name  rollno
0           0  jim      23
1           1  pom      56
2           2  kia      90

In [8]:
f.head()

   Unnamed: 0 name  rollno
0           0  jim      23
1           1  pom      56
2           2  kia      90

In [11]:
print(pd.options.display.max_rows)

60

In [13]:
import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

   Unnamed: 0  name  age
0           0  john   23
1           1   ram   45
2           2  kalu   12

In [ ]:
import pandas as pd

# Sample data
mydata = {
    "name": ["jim", "pom", "shawn"],
    "age": [45, 90, 89]
}


f = pd.DataFrame(mydata)



# Read JSON file into DataFrame
new_df = pd.read_json("data3.json")

# Print the new DataFrame
print(new_df.to_string)
print(new_df.tail(2))
print(new_df.info()) #tell info of datset
#head tell us first 5 rows by default
#but cans set head(10) to see first 10 rows
#tail tell us last 5 rows by default

<bound method DataFrame.to_string of     name  age
0    jim   45
1    pom   90
2  shawn   89>
    name  age
1    pom   90
2  shawn   89
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

In [14]:
import pandas as pd

n=pd.Series(data=["a","b","c"] ,index=[1,2,3])  
m=pd.Series(data=[sum,print,len])
n[1]=9
n
data=["ab","bc","kc"]
labels=[1,2,3]
a=pd.Series(data=labels,index=data)
a

ab    1
bc    2
kc    3
dtype: int64

In [15]:
import numpy as np
from numpy.random import randn

In [48]:
df=pd.DataFrame(randn(5,4),index=["a","b","c","d","e"],columns=["w","x","y","z"])
df

          w         x         y         z
a  0.456525  0.509615  0.044549  0.522666
b -0.451695 -0.331836 -0.611070 -0.829904
c -0.104895  1.232703  0.613380 -0.144972
d -1.834424 -0.835360  0.619507  1.188296
e -0.052294 -2.165990 -1.213091 -0.682411

In [ ]:
#adding columns
df['new'] =df['w']+df['x']  
#removing column
#by default inplace is false
df.drop('new',axis=1,inplace=True)  #inplace is true then it will remove permanatly column no new dataframe will be created but if inplace is false then new dataframe will be created

In [47]:
#removing row
df.drop('a',axis=0)  #axis=0 for row and axis=1 for column
df.loc["new2"]=randn(4)
df.loc['a']
df.iloc[3]

w    1.464217
x   -0.904950
y   -0.079376
z    1.034719
Name: d, dtype: float64

In [ ]:
df.loc[['a','b'],['w']]  #print specific rows and columns

          w
a  0.456525
b -0.451695

In [ ]:
booldf=df>1 
booldf
df[booldf] #print only those values which are greater than 1
df[df['w']>0]

          w         x         y         z
a  0.456525  0.509615  0.044549  0.522666